* 19    * * *   root    curl 'http://192.168.2.131/index.php?site=zimmer&action=an'  > /dev/null 2>&1
* 22    * * *   root    curl 'http://192.168.2.131/index.php?site=zimmer&action=aus'  > /dev/null 2>&1

